
<footer>
    <h1 class="footerTitle">Flower Shop</h1>
    <div class="footerContainer">
        <div class="footerBlock">
            <h1 class="footerBlockTitle">Links</h1>
            <ul class="footerBlockList">
                <li><a href="/home">Home</a></li>
                <li><a href="/home#categories">Categories</a></li>
                <li><a href="/home#products">Featured Products</a></li>
                <li><a href="/product/products">Products</a></li>
            </ul>
        </div>
        <div class="footerBlock">
            <h1 class="footerBlockTitle">Contact Us</h1>
            <ul class="footerBlockList">
                <li>Phone Number: <span>+12345</span></li>
                <li>Email: <span>email@email.com</span></li>
                <li>Payments: <img src="/images/cards.png" alt="cards"></li>
            </ul>
        </div>
    </div>
</footer>

</body>
</html>