<%- include('partials/head')  %>
<link rel="stylesheet" href="/css/checkout.css">
</head>
<body>

    <!-- custom stripe cancel page -->

    <div class="checkoutCart">
        <div class="checkoutCartContainer">
            <h1 class="checkoutCartContainerTitle cancel">We Are Soory</h1>
            <p class="checkoutCartContainerDesc">Something Went Wrong</p>
            <a href="/cart/getCart" class="checkoutCartContainerButton">Try Again</a>
        </div>
    </div>

    <%- include('partials/end')  %> 