<%- include('partials/head')  %>
<link rel="stylesheet" href="/css/home.css">
</head>
<body>

    <%- include('partials/navbar')  %> 

    <section class="home" id="home">
        <div class="homeContent">
            <h1 class="homeContentHeading">A flower can say it better</h1>
            <p class="homeContentDesc">We don’t just create bouquets – we create emotions</p>
            <a class="btn">Discover</a>
        </div>
        <div class="homeImage">
            <img src="/images/home.jpg" alt="homeImage">
        </div>
    </section>


    <script src="/scripts/navbar.js"></script>
<%- include('partials/end')  %> 