<%- include('partials/head')  %>
<link rel="stylesheet" href="/css/form.css">
</head>
<body>

    <%- include('partials/flash')  %> 
    
    <section class="formContainer">
        <form action="/auth/login?path=<%= path  %>" method="POST">
        <h1 class="formContainerHeading">Sign In</h1>
        <div class="formContainerBox">
            <input type="text" name="username" placeholder="please enter your Username...." autocomplete="off" id="username">
            <span class="formContainerBoxInfo" id="nameError"></span>
        </div>
        <div class="formContainerBox">
            <input type="password" name="password" placeholder="please enter your Password....." autocomplete="off" id="password">
            <span class="fas fa-eye-slash"></span>
            <span class="fas fa-eye"></span>
            <span class="formContainerBoxInfo" id="passwordError"></span>
        </div>
        <span class="formContainerBoxInfo" id="commonError"></span>
        <button class="btn" id="submitButton" onclick="return validateForm()">Login</button>
        <a href="/auth/register" class="formContainerRedirect">Or <span>Register</span></a>
    </form>
    </section>


    <script src="/scripts/form.js"></script>
    <script src="/scripts/loginValidation.js"></script>
    <%- include('partials/end')  %> 
