<%- include('partials/head')  %>
<link rel="stylesheet" href="/css/form.css">
</head>
<body>

    <section class="formContainer">
        <form action="">
        <h1 class="formContainerHeading">Sign In</h1>
        <div class="formContainerBox">
            <input type="text" placeholder="please enter your Username....">
        </div>
        <div class="formContainerBox">
            <input type="password" placeholder="please enter your Password.....">
            <span class="fas fa-eye"></span>
            <span class="fas fa-eye-slash"></span>
        </div>
        <a href="" class="btn">Login</a>
        <a href="" class="formContainerRedirect">Or <span>Register</span></a>
    </form>
    </section>


    <script src="/scripts/form.js"></script>
    <%- include('partials/end')  %> 
