/* admin sidebar */
.adminMain{
    display:flex;
}

.adminSidebar{
    width:25rem;
    height:100vh;
    border-right:1px solid var(--creme);
    background-color: var(--creme);
    position: fixed;
    z-index:1000;
}

.adminImage{
    height:12rem;
    width:12rem;
    text-align: center;
    border:1rem solid rgba(0,0,0,0.4);
    border-radius:50%;
    position: relative;
    margin:2rem auto;
}

.adminImage img{
    width:100%;
    height:100%;
    border-radius: 50%;
}

.adminSidebar h1{
    text-align: center;
    font-size:2.5rem;
}

.adminSidebar .line{
    width:100%;
    height:.2rem;
    background-color: var(--vampire-black);
}

.adminSidebar .links{
    inset:6rem 0 4rem 2rem;
    height:calc(100vh - 6.2rem);
    display: flex;

}

.adminSidebar .links ul{
    width:100%;
    display: flex;
    flex-direction: column;
    gap:5rem;
    margin-top:3rem;
}

.adminSidebar .links ul li{
    display:flex;
    align-items: center;
    transition: all .5s;
    margin-left:2rem;
}

.adminSidebar .links ul li:hover{
    background-color:var(--hard-creme);
    border:var(--border);
    padding:3px;
    border-radius: 5px;
}

.adminSidebar .links ul i{
    font-size:1.9rem;
}


.adminSidebar .links ul li span{
    font-size:1.6rem;
    margin-left:.6rem;
}

/* admin  navbar */

.rightSide{
    width:100%;
    margin-left:25rem;
    height:6.2rem;
    padding:1rem 2rem;
}

.adminNavbar{
    height:4rem;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index:999;
}


.adminNavbarActions{
    display: flex;
    align-items: center;
    gap:2rem;
}

.adminNavbarActions.active{
    position: fixed;
    top:3rem;
    right:1rem;
    z-index:999;
}


.adminNavbarLogout{
    padding:1rem 3rem;
    background-color: var(--soft-white);
    color:var(--vampire-black);
    cursor: pointer;
}

.adminNavbarLogout:hover,
.adminNavbarLogout.active{
    color:var(--soft-white);
    background-color: var(--vampire-black);
}


.adminNavbarLogo{
    width:5rem;
    height:5rem;
}

#adminNavbarMenu{
    font-size:2rem;
    cursor: pointer;
    display:none;
}


.adminNavbarTitle{
    font-size:4rem;
}


/* user table */

.users{
    padding:7rem 2rem 2rem 2rem;
}

.usersTitle{
    margin-bottom:2rem;
    text-align: center;
    font-size:3rem;
}

table{
    width: 100%;
    border: var(--border);
    border-radius:5px;
}

table td,table th{
    padding:1.3rem 2rem;
    text-align: center;
    font-size:1.6rem;
}

table th{
    border: var(--border);
}

table th{
    background-color: #DDAF94;
}

table td:nth-child(4){
    color: var(--secondary-color);
    text-shadow: 0 3px 5px var(--secondary-color);
    cursor: pointer;
}

table td:nth-child(5){
    color: var(--main-color);
    text-shadow: 0 3px 5px var(--main-color);
    cursor: pointer;
}

table tbody tr:nth-child(even){
    background-color: var(--table-gray);
}



.userImages{
    width:5rem;
    height:5rem;
    border-radius: 50%;
}

.btn-3{
    cursor: pointer;
}

.customElement1{
    color:var(--secondary-color);
    text-shadow: 0 5px 7px var(--secondary-color);
}

.customElement2{
    color:var(--main-color);
    text-shadow: 0 5px 7px var(--main-color);
    border:none;
    outline: none;
    background-color: transparent;
}

/* add product */

#addProduct{
    height:100vh;
    width:100%;
    position: fixed;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.7);
    z-index:9999;
    display:flex;
    align-items: center;
    justify-content: center;
    opacity:0;
    visibility: hidden;
    transition: all .5s;
}

#addProduct:target{
    opacity: 1;
    visibility: visible;
}

#addProduct .formContainer{
    background-color: var(--dusty-rose);
    gap:1.4rem;
}

.imageUpload{
    width:100%;
    margin:0;
}


.imageBtn{
    width:17rem;
    margin:0 auto;
}

.formContainerBox{
    margin:2rem 0;
}

.formContainerTextarea{
    position: relative;
    width:100%;
}

.formContainerTextarea textarea{
    height:15rem;
    width: 100%;
    background-color: var(--table-gray);
    resize: none;
    border:none;
    outline:none;
}

 .formContainerBox h4,
 .formContainerTextarea h4{
    position: absolute;
    top:0;
    left:0;
    font-size:1.6rem;
    color:var(--charcoal);
    transition: .5s all;
}

.formContainerBox input:valid ~ h4,
.formContainerTextarea textarea:valid ~ h4,
.formContainerBox input:focus ~ h4,
.formContainerTextarea textarea:focus ~ h4{
    top:-2rem;
}

.btn-3{
    padding:1rem 3rem;
    margin: 0 auto;
    border:none;
    outline: none;
    background-color: #f5f5f5;
    font-size:2rem;
    cursor: pointer;
    margin-top:2rem;
    transition:all .3s;
}


.btn-3:hover{
    transform: translateY(.2rem);
    background-color: var(--charcoal);
    color:var(--dusty-rose);
}

.formContainerBoxSelect{
    position: relative;
    display:flex;
    width:50%;
    height:5rem;
    margin:0 auto;
    background:var(--hard-creme);
}

select{
    appearance: none;
    -ms-progress-appearance: none;
    -webkit-appearance: none;
    outline:none;
    background:var(--hard-creme);
    border:none;
    cursor: pointer;
    flex:1;
    padding:1rem;
    color:var(--soft-white);
    font-size:2rem;
}

.formContainerBoxSelect::after{
    content:'\25BC';
    position: absolute;
    top:0;
    right:0;
    cursor: pointer;
    padding:1.5rem;
    pointer-events: none;
    background:#f5f5f5;
}

select::-ms-expand{
    display:none;
}

#titleError,#descError,#priceError{
    font-size:1.6rem;
}



#productClose{
    position: absolute;
    top:2.7rem;
    right:2.7rem;
    font-size:2.9rem;
}




/* get products */

.productContainer{
    width:100%;
    padding-top:7rem;
    padding-bottom:3rem;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
    flex-wrap: wrap;
    position: relative;
}

.productContainerTitle{
    position: absolute;
    left:50%;
    top:0;
    transform: translateX(-50%);
    font-size:3rem;
}

 .productCard{
    width:30rem;
    height:33rem;
    position: relative;
    cursor: pointer;
}

.productCard:hover > .product{
    transform: rotateY(180deg);
}

.product{
    position: absolute;
    width:100%;
    height:100%;
    transform-style: preserve-3d;
    transition:all .6s;
}


.flipCard{
    position: absolute;
    width:100%;
    height:100%;
    backface-visibility: hidden;
}


.productFront img{
    position: absolute;
    width:100%;
    height:100%;
}

.productBack{
    transform:rotateY(180deg);
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding:2rem;
    background:var(--charcoal);
}

.productBackTitle{
    font-size:3rem;
    color:var(--creme);
}

.productBackDesc{
    font-size:1.3rem;
    color:var(--table-gray);
    text-align: center;
    line-height: 1.5;
}

.productBackButton{
    display:flex;
    gap:1.4rem;

}

.btn-4{
    padding:1rem 4rem;
    color:var(--table-gray);
    border:none;
    outline: none;
    cursor: pointer;
}

.updateButton{
    background-color: var(--secondary-color);
}

.deleteButton{
    background-color: var(--main-color);
}



/* media queries for all */

@media (max-width:1000px) {

    .adminSidebar{
        display: none;
        position: fixed;
        top:0;
        left:0;
    }

    .adminSidebar.active{
        display: block;
        flex:5;
    }

    .rightSide{
        margin-left:0;
    }

    .adminNavbar{
        padding-top:2rem;
    }

    .adminNavbarTitle{
        font-size:2rem;
    }

    .adminNavbarLogo{
        display: none;
    }

    #adminNavbarMenu{
        display:block;
    }


    table{
        border:none;
    }


    table thead{
        display:none;
    }

    table td{
        border: var(--border);
    }

    table, table tbody, table tr , table td{
        display: block;
        width:100%;
    }

    table tr{
        margin-bottom:1.5rem;
    }

    table td{
        text-align: right;
        position: relative;
    }

    table td::before{
        content:attr(data-label);
        position: absolute;
        left:0;
        font-weight:700;
        padding-left:1.5rem;
    }

    
}



@media (max-width:300px) {
    table td::before{
        display: none;
    }
}
