.error{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:2rem;
    min-height: 100vh;
}

.error h1{
    font-size:4rem;
}

.error h4{
    font-size:2rem;
    color:gray;
}

.error p{
    max-width:35rem;
    font-size: 1.6rem;
    text-align: center;
}