#addProduct{
    background:linear-gradient(to bottom right,var(--dusty-rose),var(--maaron-brown)),
    url(/images/productBack.jpg);
    background-blend-mode: color-burn;
    background-position:center;
    background-size: cover;
    visibility: visible;
    opacity: 1;
}

#addProduct .formContainer{
    background-color: rgba(255,255,255,.6);
}

.cancelUpdate{
    position: absolute;
    top:1rem;
    right:1rem;
    display: block;
    width:13rem;
    padding:1.3rem;
    font-size:1.6rem;
    background-color: var(--main-color);
    color:var(--soft-white);
    text-align: center;
}

footer{
    display: none;
}