<%- include('../partials/head')  %>
<link rel="stylesheet" href="/css/stripe/checkout.css">
</head>
<body>

    <!-- custom success page -->
    <div class="checkoutCart">
        <div class="checkoutCartContainer">
            <h1 class="checkoutCartContainerTitle success">SuccessFully</h1>
            <p class="checkoutCartContainerDesc">Thank you for payment</p>
            <a href="/product/products" class="checkoutCartContainerButton">Discover More</a>
        </div>
    </div>

    <%- include('../partials/end')  %> 